/* // BASIC:==> */
@import url("https://fonts.googleapis.com/css?family=Bitter|Dosis&display=swap");
@import "./Variables.css";

/* // CASCADING:==> */

*::selection {
  background: #00aeff6b;
  color: var(--sub4Clr);
}

body {
  background: #f2feff91;
  font-family: var(--sudoFont) !important;
  color: var(--sub4Clr) !important;
  padding-top: 70px;
}

h1,
.h1 {
  font-family: var(--subFont) !important;
  font-size: var(--sudoM) !important;
  position: relative;
  text-transform: uppercase;
}
